
/*.systemAlert{
    background-color:#fb0;
    box-sizing:border-box;
    color:#fff;
    font-weight:700;
    height:54px;left:0;
    line-height:30px;
    opacity:.9;
    padding-top:12px;
    position:absolute;
    right:0;
    text-align:center;
    top:0;
    white-space:nowrap;
    z-index:9999
}

.systemAlertMessage{
    display:inline-block;
    max-width:calc(100% - 130px);
    overflow:hidden;
    text-overflow:ellipsis
}

.systemAlertHide{
    background-color:#fff;
    border-radius:3px;
    color:#e5b912;
    display:inline-block;
    margin-left:20px;
    overflow:hidden;
    text-decoration:none;
    width:70px
}*/

article,blockquote,body,dd,dl,dt,fieldset,figure,form,h1,h2,h3,h4,h5,h6,header,li,menu,nav,ol,p,section,ul{
    margin:0;
    border:0 none #fff;
    padding:0
}

body{
    background-color:#ebeced;
    color:#3f4652;
    line-height:1.4;
    font-family:Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:90%;
    text-align:left
}

body.dark{
    background-color:#3f4652;
    /*background-image:url(https://static.canva.com/static/images/bg_tiles.2.jpg);*/
    background-image:url(../img/backimage1-blur.jpg);
    background-size:cover;
    background-position:0 0
}

/*
a{
    color:#00c4cc;
    cursor:pointer;
    text-decoration:underline
}

a:visited{
    color:#96c
}

a:hover{
    text-decoration:none
}

img{
    border:0 none transparent
}

select,table{
    font-size:100%;
    font-family:Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif
}

svg{
    overflow:hidden
}

.error{
    color:#c00
}

.doNotTransition{
    transition:none!important
}

.doNotAnimate{
    -webkit-animation:none!important;
    animation:none!important
}

header li.new a,footer li.new a{
    position:relative
}

header li.new a:after,footer li.new a:after{
    content:'New';
    position:absolute;
    right:-3.3em;
    bottom:3em;
    width:3.5em;
    height:2em;
    border-radius:1em;
    background-color:rgba(0,0,0,.2);
    color:#fff
    ;font-size:65%;
    font-weight:400!important;
    text-align:center;
    text-transform:uppercase;
    line-height:2.1em
}

footer li.new a:after{
    bottom:2em;
    right:-1.8em
}

@-webkit-keyframes fadeIn{
    0%{opacity:0}100%{opacity:1}
}

@keyframes fadeIn{
    0%{opacity:0}100%{opacity:1}
}

@-webkit-keyframes fadeOut{
    0%{opacity:1}100%{opacity:0}
}

@keyframes fadeOut{
    0%{opacity:1}100%{opacity:0}
}*/